<div class="container my-5 pt-5">
    <h1 class="text-center label">Contact Us</h1>
    <p class="text-center text-secondary mb-5">
        If you have any questions, feedback, or inquiries about our courses, please don't hesitate to reach out to us. We value your input and are here to assist you in any way we can. You can contact us through the following channels:
    </p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group mb-4">
                <li class="list-group-item d-flex align-items-center">
                    <i class="bi bi-envelope-fill me-3 text-primary"></i>
                    <span>Email: todo@gmail.com </span>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <i class="bi bi-telephone-fill me-3 text-primary"></i>
                    <span>Phone: +1 (123) 456-7890</span>
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <i class="bi bi-geo-alt-fill me-3 text-primary"></i>
                    <span>Address: 123 Main Street, Anytown, USA</span>
                </li>
            </ul>
        </div>
    </div>
</div>