<div class="container my-5 pt-5">
    <h1 class="text-center label">About Us</h1>
    <p class="text-center text-secondary mb-5">
        Welcome to our online course platform! We are passionate about providing high-quality education to learners around the world. Our mission is to empower individuals with the knowledge and skills they need to succeed in their careers and personal growth. With a wide range of courses taught by industry experts, we strive to create an engaging and supportive learning environment for all our students. Join us on this educational journey and unlock your full potential!
    </p>

</div>

